<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>All Foods</h1>
    <a href="/food/new"><button>Add a Dish</button></a>
    <% food.forEach((dish) => { %>
        <div class="dish">
            <p><b>Name:</b> <%= dish.name %></p>
            <p><b>Description:</b> <%= dish.description %></p>
            <p><b>Country of Origin:</b> <%= dish.countryOfOrigin %></p>
            <img src="<%= dish.image %>">
            <a href="/food/<%= dish.id %>/view"><button class="btn">View</button></a>
            <a href="/food/<%= dish.id %>/edit"><button class="btn">Edit</button></a>
            <form method="post" action="/food/<%= dish.id %>?_method=DELETE">
                <button class="btn">Delete</button>
            </form>
        </div>
    <% }); %>
</body>
</html>